@import "../Styles/global.scss";

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
	max-width: 1000px;
	padding: 2rem;
	margin: 0 auto;
	@media only screen and (max-width: 800px) {
		display: block;
	}
}

.headline {
	color: var(--headline);
	margin-bottom: 2px;
}

p,
label {
	color: var(--copy);
	font-size: 1rem;
	letter-spacing: 1.5px;
	line-height: 2rem;
}

.form {
	label {
		display: block;
		margin-bottom: 0.5rem;
	}
	input {
		padding: 1.5rem 1rem;
		width: 100%;
		border: none;
		border-radius: 3px;
		font-size: 1rem;
	}
	button {
		margin-top: 1rem;
		padding: 1.5rem;
		border-radius: 3px;
		font-weight: bold;
		background-color: var(--accent);
		color: var(--accent-text);
		border: none;
		font-size: 1rem;
		cursor: pointer;
		width: 100%;
	}
}

.videosContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
	list-style-type: none;
	padding-left: 0;
	margin: 2rem;
}

li {
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}

.deleteBtn {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	border: none;
	border-radius: 100%;
	font-size: 1rem;
	cursor: pointer;
	&:hover {
		background-color: grey;
	}
}

.thumbnail {
	display: block;
	border-radius: 10px;
	width: 100%;
	transition: transform 250ms;
	cursor: pointer;
}

.thumbnail:hover {
	transform: scale(1.1);
}
